body {
    font-family: sans-serif;
    color: white;
    background: black;
}

.entry span {
    font-family: monospace;
}

.red {
    color: orangered;
}

.yellow {
    color: yellow;
}

.entry .name, .entry .download {
    cursor: pointer;
}

.blue, .entry[directory="true"] .name {
    color: deepskyblue;
}

.green, .entry[directory="false"] .name, .download {
    color: limegreen;
}

.entry .download, .entry .perm {
    margin-right: 1ch;
}

#files {
    background: black;
    color: white;
    height: 50vh;
    overflow-y: auto;
    padding: 0.5rem;
    border: 1px dashed black;
}

#output {
    background: black;
    color: limegreen;
    font-family: monospace;
    height: 20vh;
    overflow-y: auto;
    padding: 0.5rem;
    border: 1px dashed limegreen;
    width: calc(100% - 1rem - 2px);
}